* {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

body {

  margin: 0 !important;
  padding: 0 !important;
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  background: linear-gradient(135deg, #e9f8fa, #f1f4f5);
  overflow-x: hidden;
   box-sizing: border-box;
}

a {
  text-decoration: none;
  cursor: pointer;
}

a:hover {
  text-decoration: none;
}
