# Dependency directories
node_modules/




# Environment variables
.env

# Logs
logs/
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*

# Process files
pids
*.pid
*.seed
*.pid.lock

# IDE and system files
.DS_Store
.vscode/
.idea/
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
Thumbs.db

# Optional generated folders
uploads/
temp/
