.DistributorOrderTable{
    display: flex;
    justify-self: center;
    background-color: rgb(39, 122, 196);
    width: 90%;
  
       
}

// In your CSS file or styled component
.narrowColumn {
  width: 100px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
