.approve-order-cell{
    cursor: pointer;
    background-color: rgb(198, 239, 255);
    padding: 0.4rem;
    border-radius: 0.5rem;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
    &:hover {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.2);
  }
}

.PendingOrders-Search {
  display: flex;
  gap: 12px;
  align-items: center;
  justify-content: center;
  margin-bottom: 0.2rem;
  input,
  button {
    padding: 8px 12px;
    border: 1px solid #ccc;
    border-radius: 6px;
    font-size: 1rem;
  }

  button {
    background-color: #489941;
    color: white;
    border: none;
    cursor: pointer;
    transition: 0.3s;

    &:hover {
      background-color: #309f48;
    }
  }

  input[type="date"] {
    max-width: 180px;
  }

  input[type="text"] {
    width: 25rem;
  }
}
