.widget{
    display: flex;
    justify-content: space-between;
    flex: 1;
    padding: 10px;
    background: linear-gradient(to bottom, #fffbea, #fff5cc); // light yellow fade
    box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 
              0px 3px 6px rgba(0, 0, 0, 0.06);
    // box-shadow: 0px 3px 6px rgba(0, 0, 0, 0.1), 
    //         0px 3px 6px rgba(0, 0, 0, 0.06);
    border-radius: 10px;
    height: 120px;
   
    .left, .right{
       display: flex;
       flex-direction: column;
       justify-content: space-between;

       .title{
        font-weight: bold;
        font-size: 14px;
        color: grey;
       }
       .count{
        font-size: 28px;
        font-weight: 300;
       }
       .link{
        font-size: 14px;
        border-bottom: 1px solid gray;
        width: fit-content;
       }
       .precentage{
        display: flex;
        align-items: center;
        font-size: 14px;
        &.positive{
            color: green;
        }
        &.negative{
            color: red;
        }
       }
       .icon{
         align-self: flex-end;
       }
    }

}