
.footer {
  margin-top: auto; // this pushes it to the bottom
  background: #f9f9f9;
  padding: 10px;
  text-align: center;

  .footer-info {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6px;
    font-size: 0.7rem;
    color: #555;
  }
}