.distributor-dashboard{
    display: block;
    margin-top: 2rem;
}

.whatsapp-div{
  background-color: #3dd1d6;
  width: fit-content;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 1rem;
  padding: 0.4rem;
  color: white;
  font-weight: bold;
  gap: 0.2rem;
   z-index: 9999;
      position: fixed;
      bottom: 20px;   /* Distance from bottom */
      right: 20px;
      &:hover{
        cursor: pointer;
      }
}

.footer {
  height: 2rem;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 2rem;
  font-size: 1rem;
  color: #666;
  background-color: #f9f9f9;
  border-top: 1px solid #ddd;
  gap: 0.2rem;

  .footer-icon{
    font-size: 1.2rem;
  }

  a {
    color: #007bff;
    text-decoration: none;

    &:hover {
      text-decoration: underline;
    }
  }
}



/* Scrollbar styling */
.Categories-list-container::-webkit-scrollbar {
  width: 8px; /* width of the scrollbar */
}

.Categories-list-container::-webkit-scrollbar-track {
  background: #f1f1f1; /* track color */
  border-radius: 4px;
}

.Categories-list-container::-webkit-scrollbar-thumb {
  background: #888; /* scroll thumb color */
  border-radius: 4px;
}

.Categories-list-container::-webkit-scrollbar-thumb:hover {
  background: #555; /* scroll thumb hover color */
}

@media (max-width: 768px) {

  .distributor-dashboard{
    margin-top: 8rem;
  }

  .Categories-btn {
    font-size: 0.9rem;
    padding: 0.5rem 1rem;
  }

.Categories-list-container{
     height: calc(100vh - 120px); 
     width: 60%;
     z-index: 100;
}

.Categories-list-container ul {
  list-style-type: none; 
  padding: 0;
  margin: 0;
}

.Categories-list-container li {
 text-align: center;
 font-weight: bold;
  color: white; 
  padding: 10px;
  cursor: pointer; 
  transition: background-color 0.3s ease; 
  box-shadow: 0 2px 6px rgba(0,0,0,0.15);
}

.Categories-list-container li:hover {
   background-color: #ffffffdd;
   color: #3dd1d6;
   transform: translateY(-2px);
}






  
  





}